.bottomButton{

    color: #FFFFFF;
    width: 33.33%;
    padding: 30px 15px 30px 15px;
    border: 1px;
    text-align: center;
    float: left;
}

.bottomBar{
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0087ff;
}