.bottomButton{

    color: #FFFFFF;
    width: 32%;
    padding: 30px 15px 30px 15px;
    border-width: 0;
    text-align: center;
}

.bottomBar{
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0087ff;
}