
/*#SvgLocation{*/
	/*transform-origin: 50% 50% 0;*/
	/*transform: scale(1.0);*/
/*}*/

#LocatingBase{
	transform-origin: 50% 50% 0;
	transform: scale(1.0);
    width:10px;
    height:10px;
    x:20px;
    y:20px;
}

#Loacating{
	background-color: #0087ff;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin: auto;
	transform-origin: 50% 50% 0;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-play-state: running;
  	animation-name: wave;
}

@keyframes wave {
  0% {
  	 transform: scale(1.0);
     opacity: 0.80;
  }

  100% {
  	 transform: scale(0.0);
     opacity: 0.0;
  }
}