
.IDRMapMarker{

	width: 30px;
	height: 40px;
	top: 50px;
	left: 20px;
	background-color: red;
	position: absolute;
	background-size: cover;
	background-image: url("../image/icon4.png");
}

.IDRCarMarker{

	width: 30px;
	height: 40px;
	top: 110px;
	left: 20px;
	background-color: red;
	position: absolute;
	background-size: cover;
	background-image: url("../image/icon4.png");
}

.IDRFacMarker{

	width: 30px;
	height: 40px;
	top: 170px;
	left: 20px;
	background-color: red;
	position: absolute;
	background-size: cover;
	background-image: url("../image/qi.png");
}

.IDRTempMarker{

	width: 30px;
	height: 40px;
	top: 230px;
	left: 20px;
	background-color: red;
	position: absolute;
	background-size: cover;
	background-image: url("../image/end.png");
}

.IDRStartMarker{

	width: 30px;
	height: 40px;
	top: 290px;
	left: 20px;
	background-color: red;
	position: absolute;
	background-size: cover;
	background-image: url("../image/end.png");
}

.IDREndMarker{
	width: 30px;
	height: 40px;
	top: 350px;
	left: 20px;
	background-color: red;
	position: absolute;
	background-size: cover;
	background-image: url("../image/end.png");
}